/*Fonts*/
@font-face {
font-family: Klavika;
   src: url('fonts/klavika-light.otf');
   src: url('fonts/klavika-light.otf') format('embedded-opentype'),
}
/************/

body{
	background-color:transparent; 
	background-image:url("https://p0.pxfuel.com/preview/917/815/711/building-city-architecture-modern.jpg");
	background-size: 100%;
}


article{
	background-color:#c2c0bc; 
}

.mainButtons{

	overflow:hidden;
	margin-right:auto;
	border-radius:8px;
	display:inline-block;
	color:#000000;
	font-family:Klavika;
	font-size:32px;
	padding:54px 64px;
	margin-left: 82px;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 500px;
	height: 150px;
	text-align: center;
	border: 0.1px solid #000000;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-image:url("https://p0.pikist.com/photos/328/198/background-satin-blue-glossy-shiny-silk-polyester.jpg");
}

.mainButtons:hover{
	opacity: 80%;
	border-radius: 18px;
	filter: grayscale(40%);
	transform: scale(1.1);


}

.mainButtons:before {
   content: "";
}

.mainButtons:before {
   content: "";
}

nav{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Klavika;
}

li{
	display: inline;
	margin: 5px auto;	
}

footer{
	clear: both;
	color:#000000;
	text-align: center;
	margin: 5px auto;
}

#whoweareSection{
	background-image:url("https://c1.wallpaperflare.com/preview/367/370/553/rough-wall-background-white.jpg");
	border: 1px solid;
	border-radius: 10px;
	margin: 5px auto;
	margin-bottom: 15px;
	width: 800px;
	height: 310px;
}

#himbLogo{
	width: 280px;
	height: 280px;
}

#whoweareH{
	text-align: center;
	padding: 10px;
	font: bold 18px Klavika, Geneva, sans-serif;
	margin: 5px auto;

}

figcaption{
	padding: 10px;
	margin-left: 250px;

}

#whowearaText{
 	margin-left: 90px;
 	text-align: left;
	font-size: 20px;
	letter-spacing: -1.2px;
	word-spacing: 0.8px;
	color: #000000;
	font-weight: 300;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;

	font-family: Klavika;


}

#whoweareImg{
	float: left;
	padding-top: 1px;
	padding-left: 20px;
	margin: 1px auto;
	position: relative;
   	left: 1%;
   	top: -20px;


}

/*-- SearchPage Styles --*/

#mainSearchSection{
	border: 4px;
	border-style: groove;
	border-radius: 10px;
	padding: 5px;
	width: 1000px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
}

#mainSearchSection:after{
	z-index: -2;
	content: "";
	border: 2px solid;
	position: absolute;
	width: 1000px;
	height: 400px;
	right: 185px;
	top: 120px;
	background-color: #000;
	opacity: .5;
	border-radius: 15px;
}

.searchBarSection{
	border: 1px solid #000000
	padding: 20px;

}

.searchBar{
	right: -200px;
	margin-left: auto;
	margin-right: auto;
	font-family:Klavika;
    padding: 7px;
    font-size: 14px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    border-radius: 4px;
    width: 360px;
    position: relative;
	top: 1px;
     
}
	.searchBar:focus{
		outline: none;
}

.filterButton{

	background-color:#007bff;
	border-radius:8px;
	color:#ffffff;
	font-family:Klavika;
	font-size:14px;
	padding:8px;	
	border: 1px;
	border-color: transparent;
	height: 32px;
	border-style: solid;

}

.filterButton:hover{
 opacity: 80%;
 color:#000000;
 border-radius:10px;
}

.sendSearchButton{
 	margin-left: 250px;
	background-color:#007bff;
	border-radius:8px;
	display:inline-block;
	font-size:14px;
	padding:8px
	border: 1px;
	border-color: transparent;
	height: 32px;
	border-style: solid;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.sendSearchButton:hover{
	opacity: 80%;
	border-radius:10px;
}

/*-- MakeReview Styles --*/

#ff-compose{
	border: 2px solid;
	background-image:url("https://c1.wallpaperflare.com/preview/367/370/553/rough-wall-background-white.jpg");
	border-right: transparent;
	border-radius: 15px;
	border-width: 1px;
	padding: 6px;
}

